.embed-container {
  position: relative;
  padding-bottom: 41.66666667%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  margin-top: 175px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img-fluid {
	width: 100%;
	height: 150px;
}

.img-fluid-text {
	padding-top: 5px;
	text-align: center;
}

.img-fluid-regular {
	width: auto;
}

.less-pad {
	padding-top: 40px;
}

.company-logo {
	padding-right: 20px;
	height: 100px;
	width: 175px;
}

.no-bottom-pad {
	padding-top: 10px !important;
	padding-bottom: 0px !important;
}