html {
  //box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.scratchpad{
  min-height: 500px;
  max-width: 500px;
  max-height: 650px;
  /*border: solid 10px #FFFFFF;*/
  margin:10px auto;
}
body {
    background:#efefef;
}
.scratch-container {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  //position: fixed;
  width:100%;
}
@media only screen and (max-width : 480px) {
  .scratchpad {min-height: 350px; width:90% !important;height:350px!important;}
  .scratch-container {width:100% !important;}
}
/*
@media only screen and (max-width : 375px) {
  .scratchpad {width:350px !important;height:396px;}
  .scratch-container {width:375px !important;}
}

@media only screen and (max-width : 320px) {
  .scratchpad {width:290px;height:287px;}
  .scratch-container {width:290px !important;}
}
*/
.promo-container {
	background:#FFF;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	width:450px;
	padding:20px;
	margin:0 auto;
	text-align:center;
	font-family:'Open Sans', Arial,Sans-serif;
	color:#333;
	font-size:16px;
	margin-top:20px;
}
.btn {
  background:#56CFD2;
  color:#FFF;
  padding:10px 25px;
  display:inline-block;
  margin-top:15px;
  text-decoration:none;
  font-weight:600;
  text-transform:uppercase;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radiuss:3px;
}